.modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 550px;
  width: calc(100% - 48px);

  &__item {
    background: $clr-modal-regular;
    color: #000;
    padding: 13px;
    margin-bottom: 10px;
    font-family: $ff-secondary;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    align-items: center;

    &--success {
      background-color: #a8e063;
      border-color: rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: lighten(#a8e063, 2%);
      }
    }

    &--error {
      background-color: #e52d27;
      border-color: rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: lighten(#e52d27, 5%);
      }
    }

    &--info {
      background-color: $clr-blue-bright;
      border-color: rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: lighten($clr-blue-bright, 5%);
      }
    }

    &-icon {
      fill: #fff;
      font-size: 1.8rem;
      margin-right: 13px;
    }
  }
}
