.todo {
  $root: &;

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 24px;
    border-bottom: 1px solid $clr-blue-grayish-light;
    color: $clr-text;
    transition: border 1s;

    @include breakpoint("sm") {
      height: 65px;
    }

    // Swap gray checkbox cirle border to gradient.
    &:hover #{$root}__span {
      border-color: transparent;

      &::before {
        opacity: 1;
        background-image: linear-gradient($clr-white, $clr-white), $bg-check;
      }
    }

    // Display delete button(cross sign).
    &:hover #{$root}__deleteBtn {
      opacity: 1;
      pointer-events: all;
    }

    // Prevent to show circle border while input is checked
    &:hover
      #{$root}__item-input:checked
      + #{$root}__label
      #{$root}__span::before {
      display: none;
    }

    // styles while todo is completed
    &.completed {
      // label text line through
      #{$root}__label-text::after {
        width: 100%;
        opacity: 1;
      }

      // label text color
      #{$root}__label-text {
        color: $clr-blue-grayish-light;
      }
    }
  }

  &__item-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    // Add outline on span while input is focused.
    &:focus + #{$root}__label #{$root}__span {
      outline: 2px dotted $clr-text;
      outline-offset: 2px;
    }

    // change check circle background while input is checked 
    &:checked + #{$root}__label #{$root}__span {
      background: $bg-check;
      border: 1px;
      border-color: transparent;
    }

    // Display checkmark sign in check circle after input is checked
    &:checked + #{$root}__label #{$root}__span:after {
      display: block;
    }

    &:checked + #{$root}__span:after {
      display: block;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 35px;
    transition: color 250ms ease-in;
    position: relative;
  }

  &__label-text {
    color: $clr-text;
    font-size: clamp(0.9rem, 5vw, 1.125rem);
    transition: color 250ms ease-in;
    position: relative;

    // line through for todo__item-input:checked 
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 1px;
      width: 0%;
      background: $clr-blue-grayish-light;
      opacity: 0;
      transition: all 300ms ease-in;
    }
  }

  &__span {
    border: 1px solid $clr-blue-grayish-very-light;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: border 500ms;

    // check circle boder
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      border: 1px solid transparent;
      border-radius: 50%;
      background-image: linear-gradient($clr-white, $clr-white),
        linear-gradient(
          to right,
          $clr-blue-grayish-very-light,
          $clr-blue-grayish-very-light
        );
      background-clip: content-box, border-box;
      background-origin: border-box;
      opacity: 0;
      transition: opacity 1s;
    }

    // checkmark sign
    &::after {
      content: "";
      border: solid #fff;
      border-width: 0px 2px 2px 0px;
      position: absolute;
      left: 11px;
      top: 8px;
      width: 4px;
      height: 7px;
      transform: rotate(45deg);
      display: none;
    }
  }

  &__deleteBtn {
    background: none;
    border: none;
    width: 25px;
    height: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0;
    pointer-events: none;
    fill: #494c6b;
    transition: opacity 200ms ease-in, fill 250ms ease-in;

    &:focus {
      outline: 2px dotted $clr-text;
      outline-offset: 2px;
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      fill: $clr-red;
    }
  }

  &__deleteBtn-icon {
    pointer-events: none;
  }
}
