.todo {
  $root: &;

  &__list {
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 24px;
    border-bottom: 1px solid $clr-blue-grayish-light;
    color: $clr-text;
    transition: border 1s;
  }

  &__item-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 35px;
    transition: color 250ms ease-in;
    position: relative;
  }

  &__label-text {
    color: $clr-text;
    font-size: clamp(0.9rem, 5vw, 1.125rem);
    transition: color 250ms ease-in;
    position: relative;
  }

  &__span {
    border: 1px solid $clr-blue-grayish-very-light;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: border 500ms;
  }

  &__deleteBtn {
    background: none;
    border: none;
    width: 25px;
    height: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    // opacity: 0;
    transition: opacity 200ms ease-in, color 250ms ease-in;

    &:focus {
      outline: 2px dotted $clr-text;
      outline-offset: 2px;
      opacity: 1;
    }

    &:hover {
      color: red;
    }
  }

  &__deleteBtn-icon {
    pointer-events: none;
  }
}
