@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
:root {
  --lt-bg: hsl(0, 0%, 100%);
  --lt-bg-list: hsl(0, 0%, 98%);
  --lt-text: hsl(235, 19%, 35%);
  --lt-blue-grayish-very-light: hsl(236, 33%, 92%);
  --lt-blue-grayish-light: hsl(233, 11%, 84%);
  --lt-blue-grayish-very-dark: hsl(235, 19%, 35%);
  --lt-blue-grayish-dark: hsl(236, 9%, 61%);
  --lt-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --dt-bg: hsl(235, 24%, 19%);
  --dt-bg-list: hsl(235, 21%, 11%);
  --dt-text: hsl(234, 39%, 85%);
  --dt-blue-grayish-very-light: hsl(237, 14%, 26%);
  --dt-blue-grayish-light: hsl(233, 14%, 27%);
  --dt-blue-grayish-very-dark: hsl(237, 14%, 26%);
  --dt-blue-grayish-dark: hsl(235, 16%, 43%);
  --dt-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --clr-white: var(--lt-bg);
  --clr-gray-light: var(--lt-bg-list);
  --clr-blue-grayish-very-light: var(--lt-blue-grayish-very-light);
  --clr-blue-grayish-light: var(--lt-blue-grayish-light);
  --clr-blue-grayish-dark: var(--lt-blue-grayish-dark);
  --clr-blue-grayish-very-dark: var(--lt-blue-grayish-very-dark);
  --clr-text: var(--lt-text);
  --clr-box-shadow: var(--lt-box-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-white: var(--dt-bg);
    --clr-gray-light: var(--dt-bg-list);
    --clr-blue-grayish-very-light: var(--dt-blue-grayish-very-light);
    --clr-blue-grayish-light: var(--dt-blue-grayish-light);
    --clr-blue-grayish-dark: var(--dt-blue-grayish-dark);
    --clr-blue-grayish-very-dark: var(--dt-blue-grayish-very-dark);
    --clr-text: var(--dt-text);
    --clr-box-shadow: var(--dt-box-shadow);
  }
}
body[data-theme=dark] {
  --clr-white: var(--dt-bg);
  --clr-gray-light: var(--dt-bg-list);
  --clr-blue-grayish-very-light: var(--dt-blue-grayish-very-light);
  --clr-blue-grayish-light: var(--dt-blue-grayish-light);
  --clr-blue-grayish-dark: var(--dt-blue-grayish-dark);
  --clr-blue-grayish-very-dark: var(--dt-blue-grayish-very-dark);
  --clr-text: var(--dt-text);
  --clr-box-shadow: var(--dt-box-shadow);
}

body[data-theme=light] {
  --clr-white: var(--lt-bg);
  --clr-gray-light: var(--lt-bg-list);
  --clr-blue-grayish-very-light: var(--lt-blue-grayish-very-light);
  --clr-blue-grayish-light: var(--lt-blue-grayish-light);
  --clr-blue-grayish-dark: var(--lt-blue-grayish-dark);
  --clr-blue-grayish-very-dark: var(--lt-blue-grayish-very-dark);
  --clr-text: var(--lt-text);
  --clr-box-shadow: var(--lt-box-shadow);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: var(--clr-gray-light);
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  padding: 48px 24px 0px 24px;
}
@media (min-width: 481px) {
  body {
    padding: 70px 24px 0 24px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.background__img {
  position: absolute;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.background__img--light {
  opacity: 0;
}
body[data-theme=light] .background__img--light {
  opacity: 1;
}
.background__img--dark {
  opacity: 0;
}
body[data-theme=dark] .background__img--dark {
  opacity: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.header__title {
  font-size: clamp(1.8rem, 6vw, 2.5rem);
  font-weight: 600;
  letter-spacing: 15px;
  color: #fff;
}
.header__switch {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.header__switch:focus {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
}
.header__switch-icon--sun {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
body[data-theme=dark] .header__switch-icon--sun {
  opacity: 1;
}
.header__switch-icon--moon {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
body[data-theme=light] .header__switch-icon--moon {
  opacity: 1;
}

.todo {
  max-width: 540px;
  margin: 0 auto;
}
.todo__form {
  position: relative;
  margin-bottom: 30px;
}
.todo__form::before {
  position: absolute;
  content: "";
  top: 0;
  left: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--clr-blue-grayish-very-light);
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: border 1s;
  transition: border 1s;
}
.todo__form-input {
  width: 100%;
  height: 48px;
  padding: 10px 5px 9px 74px;
  border: none;
  border-radius: 5px;
  background: var(--clr-white);
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(0.8125rem, 3vw, 1.125rem);
  color: var(--clr-text);
  -webkit-transition: background 1s;
  transition: background 1s;
}
.todo__form-input:focus {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
}
.todo__wrapper {
  background: var(--clr-white);
  border-radius: 5px;
  -webkit-box-shadow: var(--clr-box-shadow);
          box-shadow: var(--clr-box-shadow);
  -webkit-transition: background 1s;
  transition: background 1s;
  overflow: hidden;
}
.todo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 25px;
  color: var(--clr-blue-grayish-dark);
  font-size: 0.83rem;
}
@media (min-width: 481px) {
  .todo__menu {
    font-size: 0.9rem;
  }
}
.todo__menu-tabs-desktop {
  display: none;
}
@media (min-width: 481px) {
  .todo__menu-tabs-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.todo__menu-tabs-item {
  background: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: var(--clr-blue-grayish-dark);
  cursor: pointer;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}
.todo__menu-tabs-item:not(:last-child) {
  margin-right: 16px;
}
.todo__menu-tabs-item:hover {
  color: var(--clr-text);
  font-weight: 600;
}
.todo__menu-tabs-item:active {
  color: hsl(220deg, 98%, 61%);
}
.todo__menu-tabs-item:focus {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
}
.todo__menu-tabs-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: var(--clr-white);
  color: var(--clr-blue-grayish-dark);
  border-radius: 5px;
  margin-top: 16px;
  -webkit-transition: color 250ms ease-in, background 1s;
  transition: color 250ms ease-in, background 1s;
}
@media (min-width: 481px) {
  .todo__menu-tabs-mobile {
    display: none;
  }
}
.todo__menu-clear {
  background: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  color: var(--clr-blue-grayish-dark);
  cursor: pointer;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}
.todo__menu-clear:hover {
  color: var(--clr-text);
}
.todo__menu-clear:focus {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
}
.todo__instruction {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 48px;
  color: var(--clr-blue-grayish-dark);
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.todo__list {
  list-style: none;
}
.todo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  padding: 0 24px;
  border-bottom: 1px solid var(--clr-blue-grayish-light);
  color: var(--clr-text);
  -webkit-transition: border 1s;
  transition: border 1s;
}
@media (min-width: 481px) {
  .todo__item {
    height: 65px;
  }
}
.todo__item:hover .todo__span {
  border-color: transparent;
}
.todo__item:hover .todo__span::before {
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr-white)), to(var(--clr-white))), -webkit-gradient(linear, left top, left bottom, from(hsl(192deg, 100%, 67%)), to(hsl(280deg, 87%, 65%)));
  background-image: linear-gradient(var(--clr-white), var(--clr-white)), linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.todo__item:hover .todo__deleteBtn {
  opacity: 1;
  pointer-events: all;
}
.todo__item.completed .todo__label-text::after {
  width: 100%;
  opacity: 1;
}
.todo__item.completed .todo__label-text {
  color: var(--clr-blue-grayish-light);
}
.todo__item-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.todo__item-input:focus + .todo__label .todo__span {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
}
.todo__item-input:checked + .todo__label .todo__span {
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(192deg, 100%, 67%)), to(hsl(280deg, 87%, 65%)));
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  border: 1px;
  border-color: transparent;
}
.todo__item-input:checked + .todo__label .todo__span:after {
  display: block;
}
.todo__item-input:checked + .todo__span:after {
  display: block;
}
.todo__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: 35px;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
  position: relative;
}
.todo__label-text {
  color: var(--clr-text);
  font-size: clamp(0.9rem, 5vw, 1.125rem);
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
  position: relative;
}
.todo__label-text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 1px;
  width: 0%;
  background: var(--clr-blue-grayish-light);
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.todo__span {
  border: 1px solid var(--clr-blue-grayish-very-light);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-transition: border 500ms;
  transition: border 500ms;
}
.todo__span::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr-white)), to(var(--clr-white))), -webkit-gradient(linear, left top, right top, from(var(--clr-blue-grayish-very-light)), to(var(--clr-blue-grayish-very-light)));
  background-image: linear-gradient(var(--clr-white), var(--clr-white)), linear-gradient(to right, var(--clr-blue-grayish-very-light), var(--clr-blue-grayish-very-light));
  background-clip: content-box, border-box;
  background-origin: border-box;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.todo__span::after {
  content: "";
  border: solid #fff;
  border-width: 0px 2px 2px 0px;
  position: absolute;
  left: 11px;
  top: 8px;
  width: 4px;
  height: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}
.todo__deleteBtn {
  background: none;
  border: none;
  width: 25px;
  height: 50%;
  cursor: pointer;
  font-size: 1.1rem;
  opacity: 0;
  pointer-events: none;
  fill: #494c6b;
  -webkit-transition: opacity 200ms ease-in, fill 250ms ease-in;
  transition: opacity 200ms ease-in, fill 250ms ease-in;
}
.todo__deleteBtn:focus {
  outline: 2px dotted var(--clr-text);
  outline-offset: 2px;
  opacity: 1;
}
.todo__deleteBtn:hover {
  fill: #ff4136;
}
.todo__deleteBtn-icon {
  pointer-events: none;
}